<!DOCTYPE html>
<html>
<head>
	<title> Where's the BEEF?</title>

<head>
	<link href="./static/style.css" rel="stylesheet">
	
	<title> Bob Beckel</title>
</head>




<body>	
		
	<!--TOP BAR-->	
	<div id="top-bar"> <!-- this is the header bar -->
			
		<!-- this span element, avoid inline style. It is simply to flavor the header bar -->
		<div id="bar-left">
			Where is the <span style="color:red; font-size: 35px; font-style:italic;"> <b>BEEF?</b> </span>
		</div>	
		<-- need to work on positioning based on graphics possibly -->		
		
		
		

	</div>
	

	<!--NAVIGATION BAR-->
	<div id="nav-container" style="display:inline;">
	
		<ul id = "nav-bar";>
				<li class = "item"> <a href= "{{ url_for('about')}}"> About Me </a> </li>
				<li class = "item"> <a href = "http://www.gmail.com" > Contact </a>  </li>
				<li class = "item"> <a href = "http://www.gmail.com" > Image Gallery</a> </li>
				<li class = "item"> <a href = "http://www.gmail.com" > Podcast 1</a> </li>
				<li class = "item"> <a href = "http://www.gmail.com" > Store 2</a>  </li>				
				<li class = "item"> <a href = "http://www.gmail.com" > Live Feed! 2</a>  </li>
		</ul>
			
		</ul>	
	</div>
	
	
	<!--BOB PICTURE -->
	<div id= "bob-container">
		<a href = "http://www.purple.com"> <img class ="bob-face"  src= "./static/bob.png"> </img> </a>
	
	
	</div>


</body>

</html>
